.todos-block {
    padding: 10px;
    background-color: #5F9EA0FF;
}

.todo-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
}

.todo-title {
    font-size: 20px;
    cursor: pointer;
}


.crossTodo {
    text-decoration: line-through;
}